{% extends "layouts/base.html" %}

{% block title %} Martori {% endblock %} 


{% block stylesheets %}

<style>

table {
  width: 100%;
  table-layout: fixed;
}


/* .table-responsive::-webkit-scrollbar{
  display: none;
} */
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 200%;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 2%;
  padding: 1% 0;
  position: absolute;
  z-index: 1;
 
  margin-left: -2%;
  
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -1%;
  border-width: 2%;
  border-style: solid;
  border-color: #555 transparent transparent transparent;

}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.last-row {
  top:-20%;
}

.righ-column {
  left: -100%;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}



@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
.formatare{
  width:30%;
  height: 30%;
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
</style>
{% endblock stylesheets %}

{% block content %}


    <div class="az-content az-content-dashboard">
        <div class="container">
            <div class="az-content-body">
              <p align="center" > <h2> <b>🚗MARTORI</b></h2></p>
                <h4> Nu ne bucurăm când îi vedem, dar măcar să știm ce semnifică! </h4>
                
               
            </div>
        </div>
    </div>
    
    <script>
          function myFunction() {
      var popup = document.getElementById("myPopup");
      popup.classList.toggle("show");
            }
            
            function myFunction2() {
      var popup = document.getElementById("myPopup2");
      popup.classList.toggle("show");
            }

            function myFunction3() {
      var popup = document.getElementById("myPopup3");
      popup.classList.toggle("show");
            }

            function myFunction4() {
      var popup = document.getElementById("myPopup4");
      popup.classList.toggle("show");
            }

            function myFunction5() {
      var popup = document.getElementById("myPopup5");
      popup.classList.toggle("show");
            }

            function myFunction6() {
      var popup = document.getElementById("myPopup6");
      popup.classList.toggle("show");
            }

            function myFunction7() {
      var popup = document.getElementById("myPopup7");
      popup.classList.toggle("show");
            }

            function myFunction8() {
      var popup = document.getElementById("myPopup8");
      popup.classList.toggle("show");
            }

            function myFunction9() {
      var popup = document.getElementById("myPopup9");
      popup.classList.toggle("show");
            }

            function myFunction10() {
      var popup = document.getElementById("myPopup10");
      popup.classList.toggle("show");
            }

            function myFunction11() {
      var popup = document.getElementById("myPopup11");
      popup.classList.toggle("show");
            }

            function myFunction12() {
      var popup = document.getElementById("myPopup12");
      popup.classList.toggle("show");
            }

            function myFunction13() {
      var popup = document.getElementById("myPopup13");
      popup.classList.toggle("show");
            }

            function myFunction14() {
      var popup = document.getElementById("myPopup14");
      popup.classList.toggle("show");
            }

            function myFunction15() {
      var popup = document.getElementById("myPopup15");
      popup.classList.toggle("show");
            }

            function myFunction16() {
      var popup = document.getElementById("myPopup16");
      popup.classList.toggle("show");
            }

            function myFunction17() {
      var popup = document.getElementById("myPopup17");
      popup.classList.toggle("show");
            }

            function myFunction18() {
      var popup = document.getElementById("myPopup18");
      popup.classList.toggle("show");
            }

            function myFunction19() {
      var popup = document.getElementById("myPopup19");
      popup.classList.toggle("show");
            }

            function myFunction20() {
      var popup = document.getElementById("myPopup20");
      popup.classList.toggle("show");
            }

            function myFunction21() {
      var popup = document.getElementById("myPopup21");
      popup.classList.toggle("show");
            }

            function myFunction22() {
      var popup = document.getElementById("myPopup22");
      popup.classList.toggle("show");
            }

            function myFunction23() {
      var popup = document.getElementById("myPopup23");
      popup.classList.toggle("show");
            }

            function myFunction24() {
      var popup = document.getElementById("myPopup24");
      popup.classList.toggle("show");
            }

            function myFunction25() {
      var popup = document.getElementById("myPopup25");
      popup.classList.toggle("show");
            }

            function myFunction26() {
      var popup = document.getElementById("myPopup26");
      popup.classList.toggle("show");
            }

            function myFunction26() {
      var popup = document.getElementById("myPopup26");
      popup.classList.toggle("show");
            }

            function myFunction27() {
      var popup = document.getElementById("myPopup27");
      popup.classList.toggle("show");
            }

            function myFunction28() {
      var popup = document.getElementById("myPopup28");
      popup.classList.toggle("show");
            }

            function myFunction29() {
      var popup = document.getElementById("myPopup29");
      popup.classList.toggle("show");
            }

            function myFunction30() {
      var popup = document.getElementById("myPopup30");
      popup.classList.toggle("show");
            }

            function myFunction31() {
      var popup = document.getElementById("myPopup31");
      popup.classList.toggle("show");
            }

            function myFunction32() {
      var popup = document.getElementById("myPopup32");
      popup.classList.toggle("show");
            }

            function myFunction33() {
      var popup = document.getElementById("myPopup33");
      popup.classList.toggle("show");
            }

            function myFunction34() {
      var popup = document.getElementById("myPopup34");
      popup.classList.toggle("show");
            }

            function myFunction35() {
      var popup = document.getElementById("myPopup35");
      popup.classList.toggle("show");
            }

            function myFunction36() {
      var popup = document.getElementById("myPopup36");
      popup.classList.toggle("show");
            }

            function myFunction37() {
      var popup = document.getElementById("myPopup37");
      popup.classList.toggle("show");
            }

            function myFunction38() {
      var popup = document.getElementById("myPopup38");
      popup.classList.toggle("show");
            }

            function myFunction39() {
      var popup = document.getElementById("myPopup39");
      popup.classList.toggle("show");
            }

            function myFunction40() {
      var popup = document.getElementById("myPopup40");
      popup.classList.toggle("show");
            }

            function myFunction41() {
      var popup = document.getElementById("myPopup41");
      popup.classList.toggle("show");
            }

            function myFunction42() {
      var popup = document.getElementById("myPopup42");
      popup.classList.toggle("show");
            }

            function myFunction43() {
      var popup = document.getElementById("myPopup43");
      popup.classList.toggle("show");
            }

            function myFunction44() {
      var popup = document.getElementById("myPopup44");
      popup.classList.toggle("show");
            }

            function myFunction45() {
      var popup = document.getElementById("myPopup45");
      popup.classList.toggle("show");
            }

            function myFunction46() {
      var popup = document.getElementById("myPopup46");
      popup.classList.toggle("show");
            }

            function myFunction47() {
      var popup = document.getElementById("myPopup47");
      popup.classList.toggle("show");
            }

            function myFunction48() {
      var popup = document.getElementById("myPopup48");
      popup.classList.toggle("show");
            }

            function myFunction49() {
      var popup = document.getElementById("myPopup49");
      popup.classList.toggle("show");
            }

            function myFunction50() {
      var popup = document.getElementById("myPopup50");
      popup.classList.toggle("show");
            }

            function myFunction51() {
      var popup = document.getElementById("myPopup51");
      popup.classList.toggle("show");
            }

            function myFunction52() {
      var popup = document.getElementById("myPopup52");
      popup.classList.toggle("show");
            }

            function myFunction53() {
      var popup = document.getElementById("myPopup53");
      popup.classList.toggle("show");
            }

            function myFunction54() {
      var popup = document.getElementById("myPopup54");
      popup.classList.toggle("show");
            }

    </script>
    <div class="table">
      <table class="table table-hover mg-b-0" style="overflow: hidden;">
        <thead>
        </thead>
        <tbody>
          <tr>
            <td><div class="popup" onclick="myFunction()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/1-apalanivelulfiltruluidecomb.jpg" alt="Apa la nivelul filtrului de combustibil">
              <p font-family: Georgia, serif;><b>Apă la nivelul filtrului de combustibil</b></p>
              <span class="popuptext" id="myPopup"> 
              <p><b>Cauze:</b>
                <br> 1. Capacul rezervorului este deteriorat / scurgerea rezervorului deasupra <br>
                2. Rezervorul are scurgeri</p>
         <p><b>Simptome:</b><br> 1. Accelerare greoaie <br> 
                         2. Rateuri la accelerație. <br> 
                         3. Martorul check-engine în tabloul de bord al mașinii. <br> 
                         4. Fumul alb emis de sistemul de esapament al masinii. <br> </p>
  <p><b>Rezolvări:</b><br> 1. Goliti rezervorul si inlocuiti filtrul de carburant<br>
  2. Adaugati un pic de metanol sau aditivi speciali de combustibil</p>
              </span>     
          </div>
          </td>

     

          <td><div class="popup" onclick="myFunction2()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/2-dezghetareluneta.jpg" alt="Dezghețare lunetă">
            <p font-family: Georgia, serif;><b>Dezghetare luneta</b></p>
            <span class="popuptext" id="myPopup2"> 
              <b>Cauze:</b> 
            <p> Acesta se folosește în momentul în care luneta este înghețată, după o vreme cu temperaturi foarte scăzute. Atunci când sistemul de degivrare a lunetei este activ, martorul va rămâne aprins pe parcursul funcționării acestuia. 
       <p><b>Simptome:</b><br> Luneta a înghețat din cauza temperaturii reduse, iar vizibilitatea ar putea fi afectată.


<p><b>Rezolvări:</b><br>Din bordul mașinii se activează butonul de dezghețare lunetă.</p>
            </span>     
        </div>
        </td>
        <td><div class="popup" onclick="myFunction3()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/3-dezghetare parbriz.jpg" alt="Dezghețare parbriz">
          <p font-family: Georgia, serif;><b>Dezghetare parbriz</b></p>
          <span class="popuptext" id="myPopup3"> 
            <b>Cauze:</b> 
          <p> Acesta se folosește în momentul în care parbrizul este înghețat, după o vreme cu temperaturi foarte scăzute. Atunci când sistemul de degivrare a parbrizului este activ, martorul va rămâne aprins pe parcursul funcționării acestuia. 
     <p><b>Simptome:</b><br> Parbrizul a înghețat din cauza temperaturii reduse, iar vizibilitatea ar putea fi afectată.
<p><b>Rezolvări:</b><br>Din bordul mașinii se activează butonul de dezghețare parbrizul.</p>


<td><div class="popup" onclick="myFunction4()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/4-problemelanivelulsenzorilordeploaie.jpg" alt="Senzori ploaie">
  <p font-family: Georgia, serif;><b>Senzori ploaie</b></p>
  <span class="popuptext righ-column" style="left: -100%;" id="myPopup4"> 
    <b>Cauze:</b> 
  <p> Acest martor indică o problemă la nivelul senzorului de ploaie, care trebuie fie reparat, fie înlocuit.  
<p><b>Simptome:</b><br> În momentul acționării butonului, acesta nu funcționează corespunzător și nu răspunde la comanda.
<p><b>Rezolvări:</b><br>Se va contacta un service sau o persoană specializa în domeniu pentru a putea depista problema exactă a nefuncționării senzorilor de ploaie.</p>
</tr>

<tr>
  <td><div class="popup" onclick="myFunction5()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/5-probllanivelulplafonuluidecapotabil.jpg" alt="Plafon decapotabil">
    <p font-family: Georgia, serif;><b>Plafon decapotabil</b></p>
    <span class="popuptext" id="myPopup5"> 
      <p><b>Cauze:</b> 
    <p> Dacă ai o mașină decapotabilă și acest martor se aprinde, înseamnă că există o problemă cu plafonul decapotabil.    
  <p><b>Simptome:</b><br> Martorul discutat va rămâne aprins în bord până la rezolvarea problemei. Este posibil ca în momentul acționării butonului să nu se efectueze acțiunea dorită.
  <p><b>Rezolvări:</b><br>Șoferul va trebui să viziteze un service dacă problema persistă. Poate fi din cauza unui contact imperfect, un scurt-circuit sau pur și simplu defectarea mecanismului de decapotare a mașinii. </p>



  <td><div class="popup" onclick="myFunction6()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/6-probllanivelulfaruriloradaptive.jpg" alt="Faruri adaptive">
    <p font-family: Georgia, serif;><b>Faruri adaptive</b></p>
    <span class="popuptext" id="myPopup6"> 
      <b>Cauze:</b> 
    <p> Martorul de faruri adaptive se poate aprinde din diferite motive, însă cea mai probabilă problemă este legată de murdărie pe senzorul de faruri adaptive.     
  <p><b>Simptome:</b><br> Martorul rămâne aprins în bord până la soluționarea problemei. 
  <p><b>Rezolvări:</b><br>Șoferul va trebui să viziteze un service dacă problema persistă. Poate fi din cauza unui contact imperfect, un scurt-circuit sau s-a defectat tot mecanismul destinat farurilor adaptive.  </p>

  <td><div class="popup" onclick="myFunction7()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/7-inclinareadefectuoasa a cablurilor.jpg" alt="Înclinare defectuoasă a cablurilor">
    <p font-family: Georgia, serif;><b>Înclinare defectuoasă a cablurilor</b></p>
    <span class="popuptext" id="myPopup7"> 
      <b>Cauze:</b> 
    <p> Atunci când înclinarea fasciculului luminos nu este reglată corect, acest martor se va activa. În acest caz, trebuie să eviți să circuli pe întuneric și să remediezi problema cât mai repede cu putință.     
  <p><b>Simptome:</b><br> Martorul rămâne aprins în bord până la soluționarea problemei. 
  <p><b>Rezolvări:</b><br>Șoferul va trebui să viziteze un service dacă problema persistă. Poate fi din cauza unui contact imperfect, un scurt-circuit sau s-a defectat tot mecanismul destinat farurilor.  </p>

  <td><div class="popup" onclick="myFunction8()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/8-necesara o vizita la service auto.jpg" alt="Vizită service auto">
    <p font-family: Georgia, serif;><b>Vizită service auto</b></p>
    <span class="popuptext righ-column" id="myPopup8"> 
      <b>Cauze:</b> 
    <p> Acest martor poate avea mai multe cauze. Fie este nevoie să faci o vizită la service pentru revizie, de exemplu, fie trebuie verificată și reparată o anumită problemă.    
  <p><b>Simptome:</b><br> Martorul rămâne aprins în bord până se va găsi problema de la care acesta a apărut. 
  <p><b>Rezolvări:</b><br> Dacă întâlnești acest martor, este necesar să faci cât mai rapid o vizită într-un service, astfel încât cineva specializat să poată identifica problema. </p>
</tr>

<tr>
  <td><div class="popup" onclick="myFunction9()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/9-airbag-ul este dezactivat.jpg" alt="Airbag dezactivat">
    <p font-family: Georgia, serif;><b>Airbag dezactivat</b></p>
    <span class="popuptext" id="myPopup9"> 
      <b>Cauze:</b> 
    <p> Acest martor indică faptul că airbag-ul a fost dezactivat voluntar.    
  <p><b>Simptome:</b><br>Martorul va rămâne aprins în bord până la o apăsare ulterioară a butonului, care va produce reactivarea airbag-ului.
  <p><b>Rezolvări:</b><br> Se va activa martorul pentru a preveni dezastre în trafic în cazul unui accident.</p>

  <td><div class="popup" onclick="myFunction10()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/10-probleme la nivelul filtrului de particule.jpg" alt="Filtru de particule">
    <p font-family: Georgia, serif;><b>Filtru de particule</b></p>
    <span class="popuptext" id="myPopup10"> 
      <b>Cauze:</b> 
    <p> Acest martor se activează atunci când filtrul de particule nu mai funcționează în parametri normali.  
  <p><b>Simptome:</b><br> 1. Mașina nu se accelerează în parametri corespunzători, se va simți că se accelerează greu. <br>
    2. Va ieși fum negru de pe țeava de eșapament.</p>
  <p><b>Rezolvări:</b><br>1. Prima rezolvare, care nu este prea sugerată de către mecanici este să se curețe filtrul de particule la un service autorizat.<br>
2. O altă rezolvare care se practică foarte des de către șoferi este o plimare cu mașina la drum lung și ținută o perioadă în turații mari(indicat în treapta a 3-a cu 3000 de turații) până la dispariția martorului.<br>
3. Dacă nicio rezolvare de mai sus nu funcționează, se recomandă vizita la un service pentru a putea găsi problema martorului.</p>

<td><div class="popup" onclick="myFunction11()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/11-sistem de coborare panta activat.jpg" alt="Sistem de coborare panta">
  <p font-family: Georgia, serif;><b>Sistem de coborare panta</b></p>
  <span class="popuptext" id="myPopup11"> 
    <b>Cauze:</b> 
  <p> Atunci când vei pune în funcțiune sistemul de pantă asistată, acest martor îți va indica în bord faptul că sistemul este pornit. 
<p><b>Simptome:</b><br> Martorul va rămâne aprins până la dezactivarea acestuia, mai exact până în momentul în care șoferul nu va mai avea nevoie de această opțiune.</p>
<p><b>Rezolvări:</b><br>În momentul dezactivării sistemului, martorul va dispărea din bordul mașinii.</p>

<td><div class="popup" onclick="myFunction12()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/12-se aprinde in cazul in care un bec de frana al masinii este ars(nefunctionat).jpg" alt="Bec ars frână">
  <p font-family: Georgia, serif;><b>Bec ars frână</b></p>
  <span class="popuptext righ-column" id="myPopup12"> 
    <b>Cauze:</b> 
  <p> Dacă un bec de frână al mașinii tale s-a ars, acest martor te va avertiza că trebuie să-l schimbi. Poate sa fie de la un contact imperfect, un scurt circuit sau pur și simplu s-a produs arderea becului din cauza vechimii acestuia. 
<p><b>Simptome:</b><br> În momentul apăsării frânei sau când se trage frâna de mână un bec de pe stopuri nu va funcționa corespunzător.</p>
<p><b>Rezolvări:</b><br>Cu ajutorul unei persoane care se va poziționa în spatele mașinii, șoferul va trage frâna de mână sau va apăsa frâna pana în momentul în care se va găsi becul cu problema.</p>
  </tr>
  <tr>
<td><div class="popup" onclick="myFunction13()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/13-bec ars al autovehicului condus.jpg" alt="Bec ars">
  <p font-family: Georgia, serif;><b>Bec ars</b></p>
  <span class="popuptext" id="myPopup13"> 
    <b>Cauze:</b> 
  <p> Acest martor îți comunică faptul că unul dintre becurile mașinii tale este ars. Acest martor nu îți indică și care bec este ars. Poate fi ars din cauza unui contact imperfect, un scurt circuit sau de la vechimea acestuia. 
<p><b>Simptome:</b><br> Martorul va rămâne aprins până la dezactivarea acestuia, mai exact până în momentul în care șoferul nu va mai avea nevoie de această opțiune.</p>
<p><b>Rezolvări:</b><br>Poți porni toate becurile de la mașină și să vezi care nu merge. Dacă nu ai deja becuri de rezervă, poți cumpăra un bec nou folosind ca model becul deja ars. După ce îl vei înlocui becul problematic, martorul va dispărea. A se verifica faza scurtă, faza lungă, pozițiile și becurile de pe stopurile din spate, inclusiv marșarier.</p>


<td><div class="popup" onclick="myFunction14()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/14-necesara apasarea pedalei de ambreiaj.jpg" alt="Necesara apasarea pedalei de ambreiaj">
  <p font-family: Georgia, serif;><b>Necesara apasarea pedalei de ambreiaj</b></p>
  <span class="popuptext" id="myPopup14"> 
    <b>Cauze:</b> 
  <p> Din cauza neapăsării de ambreiaj pentru pornirea motorului sau pentru schimbarea vitezei, martorul va apărea în bord.
<p><b>Simptome:</b><br>Martorul devine activ atunci când dorești să pornești motorul sau să schimbi viteza, fiind obligatorie apăsarea pedalei de ambreiaj.</p>
<p><b>Rezolvări:</b><br>Se va realiza apăsarea pedalei de ambreiaj înaintea efectuării unei acțiuni precizate anterior.</p>

<td><div class="popup" onclick="myFunction15()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/15-probleme esp.jpg" alt="Probleme ESP">
  <p font-family: Georgia, serif;><b>Probleme ESP</b></p>
  <span class="popuptext" id="myPopup15"> 
    <b>Cauze:</b> 
  <p> De obicei, martorul ESP indică faptul că sistemul de tracțiune al mașinii a intrat în funcțiune. Dacă acest martor este pornit pentru o perioadă îndelungată, este posibil să fie vorba de o defecțiune.
<p><b>Simptome:</b><br> Martorul va rămâne activ în bordul mașinii până la rezolvarea problemei. </p>
<p><b>Rezolvări:</b><br>Se recomandă prezentarea cu mașina la un service auto pentru a fi verificată de un specialist.</p>

<td><div class="popup" onclick="myFunction16()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/16-probleme la nivelul senzorului de lumina.jpg" alt="Senzori de lumină">
  <p font-family: Georgia, serif;><b>Senzori de lumină</b></p>
  <span class="popuptext righ-column" id="myPopup16"> 
    <b>Cauze:	</b> 
  <p> Această defecțiune a sistemului de includere automată a farurilor/ștergătoarelor provine din diverse cauze:</p>
    <p> 1. Senzorul care detectează lumina să fie murdar sau acoperit, nefiind capabil să perceapă stimulii necesari pentru funcționarea sistemului. <br>
    2. Senzorul s-a defectat și trebuie înlocuit.</p>
<p><b>Simptome:</b><br> În momentul acționării farurilor automate, acestea nu raspund la comandă. </p>
<p><b>Rezolvări:</b><br>De recomandat este ca înainte de a merge la un service, să se verifice dacă zona din preajma senzorului este în parametri optimi. În caz că problema nu poate fi identificată, se recomandă înlocuirea senzorului cu pricina.</p>
</tr>

<tr>
  <td><div class="popup" onclick="myFunction17()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/17-mod de iarna.jpg" alt="Mod de iarnă">
    <p font-family: Georgia, serif;><b>Mod de iarnă</b></p>
    <span class="popuptext" id="myPopup17"> 
      <b>Cauze:</b> 
    <p> Acest martor se aprinde de fiecare dată când temperatura de afară scade sub 4 grade Celsius sau atunci când șoferul activează acest modul.</p>
  <p><b>Simptome:</b><br> Martorul rămâne prezent în bordul mașinii pe toată perioada în care se înregistrează temperaturi reduse. </p>
  <p><b>Rezolvări:</b><br>Nu trebuie să existe îngrijorare din cauza asta, mașina doar ne avertizează că sunt temperaturi scăzute.</p>

  <td><div class="popup" onclick="myFunction18()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/18-presiune scazuta la nivelul pneurilor.jpg" alt="Presiune scăzuta în pneuri">
    <p font-family: Georgia, serif;><b>Presiune scăzuta în pneuri</b></p>
    <span class="popuptext" id="myPopup18"> 
      <b>Cauze:</b> 
    <p> Acest martor devine activ atunci când presiunea dintr-unul sau mai multe pneuri scade sub nivelul indicat de producător.</p>
  <p><b>Simptome:</b><br> Volanul poate trage în partea în care pneurile au presiunea scăzută sau se poate simți o oarecare trepidație în volan, asta doar în cazul în care presiunea este foarte scăzuta. </p>
  <p><b>Rezolvări:</b><br>Este sugerată inspectarea pneurilor și dacă totul este în regulă, poți opri la cea mai apropiată benzinărie pentru a băga mai mult aer.</p>

  <td><div class="popup" onclick="myFunction19()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/19-avertizare de temperaturi scazute.jpg" alt="Temperaturi scăzute">
    <p font-family: Georgia, serif;><b>Temperaturi scăzute</b></p>
    <span class="popuptext" id="myPopup19"> 
      <b>Cauze:</b> 
    <p> Atunci când temperaturile de afară se apropie de 0 grade Celsius și poate exista riscul de apariție a poleiului pe șosea, acest martor va deveni activ.</p>
  <p><b>Simptome:</b><br>Martorul rămâne prezent în bordul mașinii pe toată perioada în care se înregistrează temperaturi scăzute. </p>
  <p><b>Rezolvări:</b><br>Se recomandă o atenție sporită la drum și respectare conduitei preventive.</p>

  <td><div class="popup" onclick="myFunction20()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/20-probl la nivelul bujiilor.jpg" alt="Bujii incandescente">
    <p font-family: Georgia, serif;><b>Bujii incandescente</b></p>
    <span class="popuptext righ-column" id="myPopup20"> 
      <b>Cauze:</b> 
    <p> Un martor prezent în mașinile cu motoare diesel, poate indica o problemă la bujii, releul de preîncălzire a bujiilor sau la injectoare.</p>
  <p><b>Simptome:</b><br>Dacă vreo bujie incadescentă s-a ars, mașina nu va mai trage în parametri optimi.  </p>
  <p><b>Rezolvări:</b><br>Se recomandă o vizită la service pentru a cere părerea unui specialist, dar cel mai probabil se va sugera schimbarea bujiilor. Recomandat este să fie schimbate toate odată, indiferent că este doar una arsă sau două.</p>
</tr>

<tr>
  <td><div class="popup" onclick="myFunction21()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/21-cheia nu se afla in masina.jpg" alt="Cheia nu se afla in masina">
    <p font-family: Georgia, serif;><b>Cheia nu se află în mașină</b></p>
    <span class="popuptext" id="myPopup21"> 
      <b>Cauze:</b> 
    <p> Acest martor este prezent în mașinile de tip keyless și se pornește atunci când cheia nu este în mașină și dorești să pornești mașina. </p>
  <p><b>Simptome:</b><br>În momentul în care cheia nu se află în interiorul mașinii și se dorește a porni mașina, aceasta nu va porni fără cheie.  </p>
  <p><b>Rezolvări:</b><br>Pentru ca mașina să pornească și martorul să dispară, este necesar să se aducă cheia înapoi în interiorul mașinii.</p>

  <td><div class="popup" onclick="myFunction22()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/22-lumini dorsale de ceata sunt aprinse.jpg" alt="Lumini de ceață(spate)">
    <p font-family: Georgia, serif;><b>Lumini de ceață(spate)</b></p>
    <span class="popuptext" id="myPopup22"> 
      <b>Cauze:</b>
      <p> Indicatorul se aprinde pe toată perioada cât sunt pornite luminile de ceață spate.</p>
  <p><b>Simptome:</b><br>Martorul va rămâne aprins cât timp luminile de ceață din spatele mașinii sunt pornite. </p>
  <p><b>Rezolvări:</b><br>Recomandat ar fi: dacă nu este nevoie de farurile de ceață, ar trebui oprite pentru a te feri de o eventuală amendă și pentru a nu-i incomoda vizual pe ceilalți participanți din trafic. </p>
     
  <td><div class="popup" onclick="myFunction23()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/23-defectiune eleron.jpg" alt="Defecțiune eleron">
    <p font-family: Georgia, serif;><b>Defecțiune eleron</b></p>
    <span class="popuptext" id="myPopup23"> 
      <b>Cauze:</b> 
    <p> În cazul vehiculelor cu eleron, martorul se va aprinde ori de câte ori există o defecțiune la nivelul acestuia, lucru care ar putea afecta aerodinamica autoturismului.</p>
  <p><b>Simptome:</b><br>Martorul va rămâne aprins până la remedierea problemei. </p>
  <p><b>Rezolvări:</b><br>Efectuarea reparației într-un loc autorizat, pentru a nu produce o daună mai gravă.</p>

  <td><div class="popup" onclick="myFunction24()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/24-mod automat pentru stergatoarele de parbriz activat.jpg" alt="Mod automat pentru ștergătoarele de parbriz">
    <p font-family: Georgia, serif;><b>Mod automat pentru ștergătoarele de parbriz</b></p>
    <span class="popuptext righ-column" id="myPopup24"> 
      <b>Cauze:</b> 
    <p> Acest martor rămâne aprins atunci când modul automat de ștergătoare parbriz este activat. </p>
  <p><b>Simptome:</b><br>Martorul va rămâne aprins până la oprirea funcției. </p>
  <p><b>Rezolvări:</b><br>Deși nu este o problemă, stingerea martorului se poate efectua prin dezactivarea sistemului.</p>
</tr>

<tr>
  <td><div class="popup" onclick="myFunction25()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/25-supraincalzirea motorului.jpg" alt="Supraincalzirea motorului">
    <p font-family: Georgia, serif;><b>Supraîncălzirea motorului</b></p>
    <span class="popuptext" id="myPopup25"> 
      <b>Cauze:</b> 
    <p> Dacă se aprinde acest martor, este cazul să oprești la prima ocazie, deoarece motorul mașinii a atins o temperatură prea mare. Este posibil ca sistemul de răcire să fie defect.</p>
  <p><b>Simptome:</b><br>Nu trebuie așteptate simptomele în acest caz, deoarece continuarea deplasării poate agrava condiția în care se află autoturismul.  </p>
  <p><b>Rezolvări:</b><br>Primul lucru care este de făcut e ca șoferul să OPREASCĂ urgent mașina și să deschidă capota pentru a vedea daca cumva vasul de antigel este fisurat sau este vreo problema din interiorul capotei. În cazul în care nu este o problema vizibilă, trebuie sunat la un service pentru a comunica problema sau se cheamă o platformă pentru a nu agrava starea mașinii.</p>

  <td><div class="popup" onclick="myFunction26()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/26-nivel scazut de combustibil.jpg" alt="Nivel scăzut de combustibil">
    <p font-family: Georgia, serif;><b>Nivel scăzut de combustibil</b></p>
    <span class="popuptext" id="myPopup26"> 
      <b>Cauze:</b> 
    <p> Acest martor apare din cauza lipsei de combustibil din rezervor.</p>
  <p><b>Simptome:</b><br> Dacă mașina este lasată mult timp cu martorul aprins sunt șanse ca mașina să se oprească dintr-o dată din cauza reziduurilor de pe fundul rezervorului. </p>
  <p><b>Rezolvări:</b><br>Recomandat este a nu se lăsa mașina pe seama range-ului care apare în bord. Rezolvarea martorului este o mică plimbare până la benzinărie pentru a pune combustibil.</p>

  <td><div class="popup" onclick="myFunction27()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/27-probl la nivelul uleiului de motor.jpg" alt="Probleme privind uleiul din motor">
    <p font-family: Georgia, serif;><b>Nivel scăzut de ulei</b></p>
    <span class="popuptext" id="myPopup27"> 
      <b>Cauze:</b> 
    <p> Atunci când acest martor este activ, este vorba despre o problemă a uleiului de motor. Această problemă poate fi legată de nivelul scăzut al uleiului de motor, temperatura sau presiunea acestuia.</p>
  <p><b>Simptome:</b><br> Existența unui furtun fisurat, pe unde s-ar scurge uleiul, poate duce la apariția martorului. În caz că ați avut mașina parcată într-un loc și vedeți o pată neagră(de ulei) este recomandat să verificați dacă aveți scurgeri pe undeva.</p>
  <p><b>Rezolvări:</b><br>Dacă clipește intermitent, nu continuați să conduceți, opriți motorul chiar dacă nivelul uleiului se află în cote normale, în caz contrar componentele motorului vor fi deteriorate. Contactați cel mai apropiat service.</p>

  <td><div class="popup" onclick="myFunction28()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/28-probl la nivelul motorului autovehiculului.jpg" alt="Check engine">
    <p font-family: Georgia, serif;><b>Check engine</b></p>
    <span class="popuptext righ-column" id="myPopup28"> 
      <b>Cauze:</b> 
    <p> Acest martor poate indica una sau mai multe probleme, iar singura modalitate de a afla cu exactitate defecțiunea este printr-o vizită la specialistul auto. </p>
  <p><b>Simptome:</b><br> Pot fi multe simptome privind acest martor, dar cu exactitate se poate afla după efectuarea unei inspecții.</p>
  <p><b>Rezolvări:</b><br>Șoferul să se prezinte cât mai rapid la un service pentru a putea afla cauza apariției martorului, iar în funcție de rezultatul inspecției, dacă o piesă trebuie înlocuită, recomandat este ca această să fie schimbată în timp util.</p>
</tr>
<tr>
  <td><div class="popup" onclick="myFunction29()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/29-usile sunt deschise in timpul mersului.jpg" alt="Portiere deschise">
    <p font-family: Georgia, serif;><b>Portiere deschise</b></p>
    <span class="popuptext" id="myPopup29"> 
      <b>Cauze:</b> 
    <p> Indicatorul semnalează că una sau mai multe portiere sunt deschise în timp ce motorul este pornit. </p>
  <p><b>Simptome:</b><br> Apariția martorului alertează șoferul pentru a putea opri în siguranță și pentru a închide portiera deschisă.</p>
  <p><b>Rezolvări:</b><br>Șoferul trebuie să oprească mașina și să închidă portiera care a adus apariția martorului.</p>

  <td><div class="popup" onclick="myFunction30()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/30-luminile de ceata(fata)sunt aprinse.jpg" alt="Lumini de ceață(față)">
    <p font-family: Georgia, serif;><b>Lumini de ceață(față)</b></p>
    <span class="popuptext" id="myPopup30"> 
      <b>Cauze:</b> 
    <p> Indicatorul se aprinde pe toată perioada cât sunt pornite luminile de ceață față. </p>
  <p><b>Simptome:</b><br> Martorul va rămâne aprins cât timp luminile de ceață din fața mașinii sunt pornite.</p>
  <p><b>Rezolvări:</b><br>Recomandat ar fi: dacă nu este nevoie de farurile de ceață, ar trebui oprite pentru a te feri de o eventuală amendă și pentru a nu-i incomoda vizual pe ceilalți participanți din trafic.</p>

  <td><div class="popup" onclick="myFunction31()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/31-nivel scazut al lichidului de parbriz(sau absent).jpg" alt="Lichid de parbriz">
    <p font-family: Georgia, serif;><b>Lichid de parbriz</b></p>
    <span class="popuptext" id="myPopup31"> 
      <b>Cauze:</b> 
    <p> În cazul aprinderii acestui indicator, va trebui să completezi/umpli rezervorul lichidului de parbriz.  </p>
  <p><b>Simptome:</b><br> Martorul va rămâne aprins până se fa completa cu lichid de parbiz în vasul special.</p>
  <p><b>Rezolvări:</b><br>Pentru a rezolva problema, a se completa cu lichidul de parbriz lipsă.</p>

  <td><div class="popup" onclick="myFunction32()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/32-probl la nivelul placutelor de frana.jpg" alt="Plăcuțe de frână">
    <p font-family: Georgia, serif;><b>Plăcuțe de frână</b></p>
    <span class="popuptext righ-column" id="myPopup32"> 
      <b>Cauze:</b> 
    <p> Martorul poate să apară din cauza uzurii plăcuțelor de frână sau din cauza lipse de lichid de frână.  </p>
  <p><b>Simptome:</b><br>Dacă se aude un zgomot metalic în timpul metalic, acesta este un semn că placuțele de frână sunt uzate. Și trepidațiile prezente în momentul frânării poate fi un semn privind schimbarea plăcuțelor de frână.</p>
  <p><b>Rezolvări:</b><br>O vizită la service pentru ca mecanicul să verifice cu exactitate care este problema, și ulterior schimbarea plăcuțelor de frână.</p>
</tr>

<tr>
  <td><div class="popup" onclick="myFunction33()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/33-sistem de pornire defect.jpg" alt="Sistem de pornire">
    <p font-family: Georgia, serif;><b>Sistem de pornire</b></p>
    <span class="popuptext" id="myPopup33"> 
      <b>Cauze:</b> 
    <p> Aprinderea martorului indică o problemă a sistemului de pornire, cauzată fie de imobilizator, fie de telecomanda rămasă fără baterie.  </p>
  <p><b>Simptome:</b><br>Dacă problema este din cauza telecomenzii, aceasta nu va mai răspunde din prima la comenzile cerute, cum ar fi în momentul deblocării mașinii.</p>
  <p><b>Rezolvări:</b><br>Recomandat este ca șoferul să meargă la service pentru a putea ca mecanicul să facă o constatare.</p>


<td><div class="popup" onclick="myFunction34()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/34-nivel scazut al bateriei cheii.jpg" alt="Baterie cheie">
  <p font-family: Georgia, serif;><b>Nivel scăzut al bateriei cheii</b></p>
  <span class="popuptext" id="myPopup34"> 
    <b>Cauze:</b> 
  <p> La modelele mai noi, este prezent și acest indicator care anunță că nivelul bateriei cheii este unul scăzut. </p>
<p><b>Simptome:</b><br>Cheia va funcționa în parametri normali, dar în momentul în care bateria se descarcă, se trimite un avertisment deținătorului auto.</p>
<p><b>Rezolvări:</b><br>Se sugerează schimbarea bateriei într-un loc autorizat pentru a nu produce daune cheii.</p>

<td><div class="popup" onclick="myFunction35()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/35-probleme la nivelul sistemului de tractare.jpg" alt="Sistem de tractare">
  <p font-family: Georgia, serif;><b>Sistem de tractare</b></p>
  <span class="popuptext" id="myPopup35"> 
    <b>Cauze:</b> 
  <p> Dacă mașina dispune de o remorcă atașată, acest sistem indică o problemă la nivelul luminilor atașamentului. </p>
<p><b>Simptome:</b><br>Apariția martorului sugerează șoferului de a verifica daca se văd luminile de pe stop în momentul apăsării frânei, pentru a evita accientele în trafic.</p>
<p><b>Rezolvări:</b><br>Oprirea și verificării luminilor de pe stopuri.</p>

<td><div class="popup" onclick="myFunction36()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/36-probl la nivelul sistemului de franare al automobilului.-webp.jpg" alt="Sistemul de frânare">
  <p font-family: Georgia, serif;><b>Sistemul de frânare</b></p>
  <span class="popuptext righ-column" id="myPopup36"> 
    <b>Cauze:</b> 
  <p> Dacă mașina ta are probleme cu pedala de frână sau un nivel prea scăzut al lichidului de frână, acest martor se va aprinde.  </p>
<p><b>Simptome:</b><br>Dacă pedala de frână este rigidă sau prea sus sau în momentul acționării franei, aceasta frânează greu, înseamnă ca sistemul de frânare are o problemă.</p>
<p><b>Rezolvări:</b><br>Cel mai indicat este să se meargă de urgență la un service pentru a se verifica cu exactitate cauza simptomelor și de a remedia problema.</p>
</tr>
<tr>

<td><div class="popup" onclick="myFunction37()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/37-avertizare referitoare la parasirea benzii de mers.jpg" alt="Părăsirea benzii de mers">
  <p font-family: Georgia, serif;><b>Părăsirea benzii de mers</b></p>
  <span class="popuptext" id="myPopup37"> 
    <b>Cauze:</b> 
  <p>Martor prezent la mașinile dotate cu acest tip de senzor, devine activ atunci când nu te încadrezi corespunzător pe banda de mers. </p>
<p><b>Simptome:</b><br>Volanul începe să vibreze în momentul părăsirii benzii de mers.</p>
<p><b>Rezolvări:</b><br>Nu este un martor care să semnifice o problemă la autoturism, poate fi dezactivat.</p>

<td><div class="popup" onclick="myFunction38()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/38-probl la nivelul sist de injectie.jpg" alt="Sonda lambda">
  <p font-family: Georgia, serif;><b>Sonda lambda</b></p>
  <span class="popuptext" id="myPopup38"> 
    <b>Cauze:</b> 
  <p>Martor activ atunci când există o problemă la sistemul de injecție. </p>
<p><b>Simptome:</b><br>Un prim semnal de alarmă trebuie tras în momentul în care mașina consumă mai mult combustibil. Un al doilea simptom ar fi nefuncționarea motorului în parametrii optimi, nu mai dispune de capacitatea maximă și dă rateuri.</p>
<p><b>Rezolvări:</b><br>Pentru rezolvarea problemei este recomandată o vizită la un service. </p>

<td><div class="popup" onclick="myFunction39()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/39-centura de siguranta nu este cuplata corespunzator.jpg" alt="Centură de siguranță">
  <p font-family: Georgia, serif;><b>Centură de siguranță</b></p>
  <span class="popuptext" id="myPopup39"> 
    <b>Cauze:</b> 
  <p>Acest martor indică faptul că mașina este pusă în mișcare și centura de siguranță nu este pusă. Pentru a te proteja și pentru a înlătura acest martor, trebuie să pui centura de siguranță cât mai rapid. </p>
<p><b>Simptome:</b><br>Martorul este aprins în bordul mașinii, fiind urmat de un sunet ascuțit, cu rolul de a-l face pe șofer sau pasager să își pună centura de siguranță.</p>
<p><b>Rezolvări:</b><br>Martorul va dispărea în momentul în care centura de siguranță va fi pusă.  </p>
  
<td><div class="popup" onclick="myFunction40()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/40-distanta periculoasa fata in raport cu alt vehicul.jpg" alt="Distanță prea mică față de alt vehicul">
  <p font-family: Georgia, serif;><b>Distanță prea mică față de alt vehicul</b></p>
  <span class="popuptext righ-column" id="myPopup40"> 
    <b>Cauze:</b> 
  <p> Prezent la unele mașini, acest martor indică faptul că ești mult prea aproape de mașina din față, recomandarea fiind reducerea distanței.</p>
<p><b>Simptome:</b><br>Autoturismul va produce o avertizare sonoră.</p>
<p><b>Rezolvări:</b><br>Sunetul se va opri automat după dispariția pericolului. </p>
</tr>
<tr>

<td><div class="popup" onclick="myFunction41()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/41-probl tehnice ale bateriei sau alternatorului.jpg" alt="Baterie">
  <p font-family: Georgia, serif;><b>Baterie</b></p>
  <span class="popuptext" id="myPopup41"> 
    <b>Cauze:</b> 
  <p> Acest martor se activează de fiecare dată când pornești mașina, urmând ca după câteva secunde să se dezactiveze. Dacă martorul rămâne pornit, acesta poate indica o problemă cu bateria sau cu alternatorul.</p>
<p><b>Simptome:</b><br>Autoturismul nu mai pornește, iar sistemele mașinii vor înceta să mai funcționeze treptat.</p>
<p><b>Rezolvări:</b><br>Înlocuirea preventivă a bateriei sau a alternatorului.</p> 

<td><div class="popup" onclick="myFunction42()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/42-probl cu suspensia pneumatica a autovehicului.jpg" alt="Suspensie pneumatică">
  <p font-family: Georgia, serif;><b>Suspensie pneumatică</b></p>
  <span class="popuptext" id="myPopup42"> 
    <b>Cauze:</b> 
  <p> Este un martor care apare la mașinile cu suspensie pneumatică și care apare ori de câte ori ai o problemă cu aceasta.</p>
<p><b>Simptome:</b><br>1. Deplasare dură și neplacută.<br>
  2. Compresorul de aer funcționează fără întrerupere.<br>
  3. Nivelul față de sol al mașinii scade/se lasă în jos.</p>
<p><b>Rezolvări:</b><br>Recomandat este să se facă o vizită la service pentru găsirea și remedierea problemei.</p>

<td><div class="popup" onclick="myFunction43()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/43-probl la nivelul airbag-urilor.jpg" alt="Airbag">
  <p font-family: Georgia, serif;><b>Airbag</b></p>
  <span class="popuptext" id="myPopup43"> 
    <b>Cauze:</b> 
  <p> Acest martor este activ atunci când airbag-ul fie este dezactivat, fie nu funcționează corespunzător.</p>
<p><b>Simptome:</b><br>Martorul va persista în bordul mașinii, până acesta va fi rezolvat.</p>
<p><b>Rezolvări:</b><br>A se verifica sub scaun, dacă nu cumva prin mutarea scaunului prea în spate să se fi deranjat cablurile de la airbag. Dacă nu există nicio problemă la nivelul cablurilor, trebuie mers la mecanic pentru a vedea exact problema.</p> 


<td><div class="popup" onclick="myFunction44()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/44-probl la sistemul de franare al masinii(abs).jpg" alt="ABS">
  <p font-family: Georgia, serif;><b>ABS</b></p>
  <span class="popuptext righ-column" id="myPopup44"> 
    <b>Cauze:</b> 
  <p> Când acest martor este activ, înseamnă că mașina are o problemă la sistemul de frânare și este obligatoriu să faci o vizită unui service autorizat.</p>
<p><b>Simptome:</b><br>Dacă în momentul în care se acționează frână, roțile se blochează înseamnă că există o defecțiune la nivelul acestui sistem.</p>
<p><b>Rezolvări:</b><br>Repararea sistemului într-un service autorizat.</p> 
</tr>
<tr>
  <td><div class="popup" onclick="myFunction45()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/46-frana de mana este cuplata.jpg" alt="Frâna de mână">
    <p font-family: Georgia, serif;><b>Frâna de mână</b></p>
    <span class="popuptext" id="myPopup45"> 
      <b>Cauze:</b> 
    <p> Acest martor este activ atunci când frâna de mână este trasă, iar mașina nu va porni de pe loc.</p>
  <p><b>Simptome:</b><br>Martorul nu va dispărea până când frâna de mână nu va fi decuplată.</p>
  <p><b>Rezolvări:</b><br> Dezactivează frâna de mână și acest martor va dispărea, iar tu vei putea porni de pe loc.</p> 

  <td><div class="popup" onclick="myFunction46()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/47-capota deschisa.jpg" alt="Capotă deschisă">
    <p font-family: Georgia, serif;><b>Capotă deschisă</b></p>
    <span class="popuptext" id="myPopup46"> 
      <b>Cauze:</b> 
    <p> Acest martor poate apărea atunci când motorul este pornit și capota nu a fost închisă corespunzător.</p>
  <p><b>Simptome:</b><br>Nu este un martor care ar trebui să aducă probleme, acesta rămâne aprins până aceasta se va închide.</p>
  <p><b>Rezolvări:</b><br> Închide capota corespunzător și acest martor va dispărea.</p> 

  <td><div class="popup" onclick="myFunction47()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/48-nivelul scazut al lichidului de servodirectie.jpg" alt="Probleme servodirecție">
    <p font-family: Georgia, serif;><b>Probleme servodirecție</b></p>
    <span class="popuptext" id="myPopup47"> 
      <b>Cauze:</b> 
    <p> Acest martor apare atunci când există o problemă la sistemul de servodirecție. Cel mai probabil, problema poate fi cauzată de nivelul scăzut al lichidului de servodirecție, dar, dacă identifici că nu aceasta este cauza, un specialist îți va putea spune cu siguranță care este problema.</p>
  <p><b>Simptome:</b><br>Schimbarea direcției de mers se va face mai dificilă din cauza volanului, care se va învârti mai greu.</p>
  <p><b>Rezolvări:</b><br> Repararea sistemului de servodirecție.</p> 


  <td><div class="popup" onclick="myFunction48()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/49-semnalizare stanga-dreapta.jpg" alt="Semnalizare stânga-dreapta">
    <p font-family: Georgia, serif;><b>Semnalizare stânga-dreapta</b></p>
    <span class="popuptext righ-column" id="myPopup48"> 
    <p> Unul din cei doi martori de semnalizare se va aprinde atunci când acționezi maneta de semnalizare stânga/dreapta sau ambii atunci când apeși pe butonul de avarii.</p>
  </tr>
<tr>
    <td><div class="popup" onclick="myFunction49()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/50-apasarea pedalei de frana.jpg" alt="Apăsare pedală frână">
      <p font-family: Georgia, serif;><b>Apăsare pedală frână</b></p>
      <span class="popuptext" id="myPopup49"> 
      <p> Martor care se aprinde înainte de pornirea motorului unei mașini cu cutie automată și care solicită apăsarea pedalei de frână. </p>

      <td><div class="popup" onclick="myFunction50()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/51-cruise control este activat.jpg" alt="Cruise control activat">
        <p font-family: Georgia, serif;><b>Cruise control activată</b></p>
        <span class="popuptext" id="myPopup50"> 
        <p> Martorul se aprinde atunci când cruise control-ul este activat. Atunci când apeși frâna sau accelerația, becul se stinge și cruise control-ul se dezactivează.  </p>

        <td><div class="popup" onclick="myFunction51()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/52-luminile de intalnire sunt aprinse.jpg" alt="Lumini de întâlnire">
          <p font-family: Georgia, serif;><b>Lumini de întâlnire</b></p>
          <span class="popuptext" id="myPopup51"> 
          <p> Martorul se aprinde atunci când luminile de întâlnire sunt pornite. </p>

          <td><div class="popup" onclick="myFunction52()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/53-volan blocat.jpg" alt="Volan blocat">
            <p font-family: Georgia, serif;><b>Volan blocat</b></p>
            <span class="popuptext righ-column" id="myPopup52"> 
            <p> Acest martor te anunță că sistemul antifurt s-a pus în funcțiune și că volanul este blocat. </p>
  </tr>
  <tr>
    <td><div class="popup" onclick="myFunction53()"><img style="margin-right:3%" align="left" class="formatare" src="/static/martori/54-faza scurta faruri.jpg" alt="Faza scurtă">
      <p font-family: Georgia, serif;><b>Faza scurtă</b></p>
      <span class="popuptext last-row" id="myPopup53"> 
      <p>Martor care se aprinde atunci când faza scurtă este pusă în funcțiune. </p>

      <td><div class="popup" onclick="myFunction54()"><img style="margin-right:3%" align="left"  width="30%" height="40%"  src="/static/martori/55-faza lungă.png" alt="Faza lungă">
        <p font-family: Georgia, serif;><b>Faza lungă</b></p>
        <span class="popuptext last-row" id="myPopup54"> 
        <p>Acest martor indică faptul că faza lungă este pornită. </p>
    
  </tr>



          </span>     
      </div>
        </tbody>
      </table>
    </div>
    


{% endblock content %}


{% block plugin_javascripts %}

    <script src="/static/assets/lib/jquery.flot/jquery.flot.js"></script>
    <script src="/static/assets/lib/jquery.flot/jquery.flot.resize.js"></script>
    <script src="/static/assets/lib/chart.js/Chart.bundle.min.js"></script>
    <script src="/static/assets/lib/peity/jquery.peity.min.js"></script>

{% endblock plugin_javascripts %}


{% block javascripts %}

    <script src="/static/assets/js/chart.flot.sampledata.js"></script>
    <script src="/static/assets/js/dashboard.sampledata.js"></script>
    <script>
      $(function(){
        'use strict'

    		var plot = $.plot('#flotChart', [{
          data: flotSampleData3,
          color: '#007bff',
          lines: {
            fillColor: { colors: [{ opacity: 0 }, { opacity: 0.2 }]}
          }
        },{
          data: flotSampleData4,
          color: '#560bd0',
          lines: {
            fillColor: { colors: [{ opacity: 0 }, { opacity: 0.2 }]}
          }
        }], {
    			series: {
    				shadowSize: 0,
            lines: {
              show: true,
              lineWidth: 2,
              fill: true
            }
    			},
          grid: {
            borderWidth: 0,
            labelMargin: 8
          },
    			yaxis: {
            show: true,
    				min: 0,
    				max: 100,
            ticks: [[0,''],[20,'20K'],[40,'40K'],[60,'60K'],[80,'80K']],
            tickColor: '#eee'
    			},
    			xaxis: {
            show: true,
            color: '#fff',
            ticks: [[25,'OCT 21'],[75,'OCT 22'],[100,'OCT 23'],[125,'OCT 24']],
          }
        });

        $.plot('#flotChart1', [{
          data: dashData2,
          color: '#00cccc'
        }], {
    			series: {
    				shadowSize: 0,
            lines: {
              show: true,
              lineWidth: 2,
              fill: true,
              fillColor: { colors: [ { opacity: 0.2 }, { opacity: 0.2 } ] }
            }
    			},
          grid: {
            borderWidth: 0,
            labelMargin: 0
          },
    			yaxis: {
            show: false,
            min: 0,
            max: 35
          },
    			xaxis: {
            show: false,
            max: 50
          }
    		});

        $.plot('#flotChart2', [{
          data: dashData2,
          color: '#007bff'
        }], {
    			series: {
    				shadowSize: 0,
            bars: {
              show: true,
              lineWidth: 0,
              fill: 1,
              barWidth: .5
            }
    			},
          grid: {
            borderWidth: 0,
            labelMargin: 0
          },
    			yaxis: {
            show: false,
            min: 0,
            max: 35
          },
    			xaxis: {
            show: false,
            max: 20
          }
    		});


        //-------------------------------------------------------------//


        // Line chart
        $('.peity-line').peity('line');

        // Bar charts
        $('.peity-bar').peity('bar');

        // Bar charts
        $('.peity-donut').peity('donut');

        var ctx5 = document.getElementById('chartBar5').getContext('2d');
        new Chart(ctx5, {
          type: 'bar',
          data: {
            labels: [0,1,2,3,4,5,6,7],
            datasets: [{
              data: [2, 4, 10, 20, 45, 40, 35, 18],
              backgroundColor: '#560bd0'
            }, {
              data: [3, 6, 15, 35, 50, 45, 35, 25],
              backgroundColor: '#cad0e8'
            }]
          },
          options: {
            maintainAspectRatio: false,
            tooltips: {
              enabled: false
            },
            legend: {
              display: false,
                labels: {
                  display: false
                }
            },
            scales: {
              yAxes: [{
                display: false,
                ticks: {
                  beginAtZero:true,
                  fontSize: 11,
                  max: 80
                }
              }],
              xAxes: [{
                barPercentage: 0.6,
                gridLines: {
                  color: 'rgba(0,0,0,0.08)'
                },
                ticks: {
                  beginAtZero:true,
                  fontSize: 11,
                  display: false
                }
              }]
            }
          }
        });

        // Donut Chart
        var datapie = {
          labels: ['Search', 'Email', 'Referral', 'Social', 'Other'],
          datasets: [{
            data: [25,20,30,15,10],
            backgroundColor: ['#6f42c1', '#007bff','#17a2b8','#00cccc','#adb2bd']
          }]
        };

        var optionpie = {
          maintainAspectRatio: false,
          responsive: true,
          legend: {
            display: false,
          },
          animation: {
            animateScale: true,
            animateRotate: true
          }
        };
  
        // For a doughnut chart
        var ctxpie= document.getElementById('chartDonut');
        var myPieChart6 = new Chart(ctxpie, {
          type: 'doughnut',
          data: datapie,
          options: optionpie
        });

      });
    </script>

{% endblock javascripts %}
