{% extends "layouts/base.html" %}

{% block title %} Informații brand{% endblock %} 


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="az-content az-content-dashboard">
        <div class="container">
            <div class="az-content-body">
                <h2><p align="center">🚗Informații brand-uri</p></h2> <br>
                <h5> &nbsp &nbsp &nbsp Cu toții probabil vedem foarte multe mașini pe stradă, și nu numai, unele chiar ne atrag atenția într-un mod plăcut, dar s-a gândit vreodată cineva care este istoria acestor brand-uri?</h5> <br> <br>
                <div class="table-responsive">
                  <table class="table table-hover mg-b-0">
                    <thead>
                      <tr>
                        <th><b>Marca</b></th>
                        <th><b>Sigla</b></th>
                        <th><b>An apariție</b></th>
                        <th><b>Semnificația siglei</b></th>
                        <th><b>Țara de proveniență</b></th>
                        <th><b>Știați că...?</b></th>
                       
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"><b>BMW</b></th>
                        <td><img align="right" src="static/bmwlogo.webp" width="50" height="50" style=margin-right:22%></td>
                        <td>7 martie 1916</td>
                        <td><b>Sigla </b>este reprezentată de culorile naționale ale Bavariei, care este desigur inclus în numele companiei. </td>
                        <td>Germania</td>
                        <td>&#10068; "E" vine de la Entwicklung, termenul german pentru "Evoluție". O alta litera cunoscuta din nomenclatura BMW, "M", este initiala termenului "Motorsport".
                          <br>
                          &#10068;Cand au inceput sa construiasca motociclete, inginerii companiei au facut o greseala: s-au concentrat prea mult pe puterea motoarelor, astfel ca primele produse finale au fost interzise. Ele au reusit insa, intre timp, sa stabileasca multe recorduri de viteza.
                          <br>
                          &#10068;Dupa al doilea Razboi Mondial, BMW a inceput sa faca unelte de gradina si de bucatarie.
                        </td>
                    
                      </tr>
                      <tr>
                        <th scope="row"><b>AUDI</b></th>
                        <td><img align="right" src="static/audilogo.png" width="42" height="42" style=margin-right:22%></td>
                        <td>16 iulie 1909</td>
                        <td>Cele patru inele care alcătuiesc sigla Audi reprezintă cele patru companii din consorțiul Auto-Union din 1932. Acestea erau DKW, Horch, Wanderer și Audi. </td>
                        <td>Germania</td>
                        <td>&#10068; <b>Audi R8</b>, cel mai agresiv model al gamei actuale, este "umplut" cu piele la interior. Numărul cusaturilor este de exact 36.520. Cifra este identică în fiecare exemplar.
                         <br>
                        &#10068; Audi este primul constructor auto care a organizat un crash-test. Se intampla in 1938. </td>
                      </tr>
                      <tr>
                        <th scope="row"><b>VOLKSWAGEN</b></th>
                        <td><img align="right" src="static/vwlogo.png" width="45" height="30" style=margin-right:22%></td>
                        <td>28 mai 1937</td>
                        <td>Povestea <b>siglei Volkswagen</b> este simplă. Aceasta conține literele V și W: „volks" înseamnă "a poporului", iar "wagen"="mașină".</td>
                        <td>Germania</td>
                        <td>&#10068; <b>Volkswagen Golf II</b> a fost primul model al constructorului din Wolfsburg care a fost asamblat de roboți. Acest model era construit într-o clădire construită special, intitulată Hall 54. <br>
                        &#10068; VW Touareg se produce în Bratislava (Slovacia), în aceeași uzină și pe aceeași platformă cu Audi Q7 și Porsche Cayenne.</td>
                      </tr>
                      <tr>
                        <th scope="row"><b>DACIA</b></th>
                        <td><img align="right" src="static/dacialogo.jpg" width="40" height="40" style=margin-right:22%></td>
                        <td>1966</td>
                        <td>Sigla a suferit mai multe modificări de-a lungul anilor, prima siglă reprezentând o siglă în formă de scut cu pictograma unui vultur. În prezent, sigla este diferită, în formă trapezoidală, cu fundal gri și scris în relief <b>"DACIA"</b> de culoarea albastră. Dacă sigla este întoarsă la 90 de grade cu vârful spre stânga se poate observa litera "D". </td>
                        <td>România</td>
                        <td>&#10068; 5% din preţul unei maşini este reprezentat de costul de transport al acesteia. În cazul unui Dacia Duster, banii pe care un client îi dă pe transport reprezintă minim 557.5 Euro. <br>
                          &#10068; Circa 60% dintr-un automobil Dacia este reprezentat de piesele fabricate sau asamblate în România.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row"><b>MERCEDES</b></th>
                        <td><img align="right" src="static/mercedeslogo.png" width="42" height="35" style=margin-right:22%></td>
                        <td>28 iunie 1926</td>
                        <td>Steaua în trei colțuri reprezintă dominația <b>Mercedes-Benz</b> asupra uscatului, mării și aerului. A apărut pentru prima dată în 1909 pe un Daimler, în 1926 fiind adaugată cununa de lauri pentru a marca unirea cu Benz. Sigla actuală, steaua într-un cerc, a fost folosită prima data în 1937.</td>
                        <td>Germania</td>
                        <td>&#10068; Mercedes a lansat primul sistem cruise control în anul 1975 pe versiunile echipate cu transmisie automată ale modelului S-Klasse. Sistemul putea menține constantă o viteză ce depășea 40 km/h.
                          <br>
                          &#10068; Scaunele din automobilele Mercedes-Benz sunt proiectate cu ajutorul specialiștilor în ortopedie. Astfel, acestea oferă sprijinul necesar pentru genunchi, rinichi și spate. 
                        </td>
                      </tr>
                      <tr>
                        <th scope="row"><b>SUZUKI</b></th>
                        <td><img align="right" src="static/suzukilogo.png" width="42" height="35" style=margin-right:22%></td>
                        <td>1909</td>
                        <td><b>Emblema Suzuki</b> este un „S” stilizat și alături de numele complet al companiei.  Logo-ul în sine este realizat în două culori - roșu și albastru. Aceste culori au propriul simbolism. Roșu înseamnă pasiune, tradiție și integritate, în timp ce albastrul înseamnă măreție și perfecțiune. </td>
                        <td>Japonia</td>
                        <td>&#10068; Cuvântul Ignis înseamnă foc în latină. Tocmai de aceea, se spune că Suzuki Ignis e capabil să aprindă simțurile. Ție ce îți transmite Ignis când îl privești?
                          <br>
                          &#10068; În 1952, în premieră mondială, este comercializată bicicleta cu motor „Power Free”, cu motor de 36 cc. Astăzi, pe lângă motociclete, Suzuki produce mașini, motoare marine și scaune cu rotile.
                        </td>
                      
                      </tr>
                      <tr>
                        <th scope="row"><b>SKODA</b></th>
                        <td><img align="right" src="static/skodalogo.png" width="70" height="40" style=margin-right:12%></td>
                        <td>1925</td>
                        <td>Sageata înaripată de pe sigla mărcii cehe nu are o semnificație anume, în afara faptului că sugereaza viteza.</td>
                        <td>Cehia</td>
                        <td>&#10068; La momentul intrării în Grupul Volkswagen, Skoda era al patrulea brand din portofoliul germanilor, după Volkswagen, Audi și Seat. 
                          <br>
                          Pe lângă biciclete și motociclete, Skoda a produs și avioane, dar și utilaje agricole, cum ar fi pluguri motorizate.
                        </td>
                      </tr>
                      <tr>
                        <th scope="row"><b>TESLA</b></th>
                        <td><img align="right" src="static/teslalogo.jpg" width="70" height="60" style=margin-right:12%></td>
                        <td>2003</td>
                        <td>Potrivit directorului general, Elon Musk, este o reprezentare stilizată a unui motor electric, cu elemente esenţiale precum un stator şi un rotor. Partea principală a literei "T" simbolizează rotorul, iar linia trasată deasupra, separată de un spaţiu, este statorul.</td>
                        <td>USA</td>
                        <td>&#10068; Tesla Motors este denumită dupa inginerul electrotehnician și fizician Nikola Tesla. 
                          <br>
                          &#10068; În ianuarie 2021, s-a anunțat că obiectivul companiei a fost atins, să se construiască jumătate de milion de mașini în 2020.
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

            </div>
        </div>
    </div>


{% endblock content %}

<!-- Page JS Plugins goes HERE  -->
{% block plugin_javascripts %}

    <script src="/static/assets/lib/jquery.flot/jquery.flot.js"></script>
    <script src="/static/assets/lib/jquery.flot/jquery.flot.resize.js"></script>
    <script src="/static/assets/lib/chart.js/Chart.bundle.min.js"></script>
    <script src="/static/assets/lib/peity/jquery.peity.min.js"></script>

{% endblock plugin_javascripts %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="/static/assets/js/chart.flot.sampledata.js"></script>
    <script src="/static/assets/js/dashboard.sampledata.js"></script>
    <script>
      $(function(){
        'use strict'

    		var plot = $.plot('#flotChart', [{
          data: flotSampleData3,
          color: '#007bff',
          lines: {
            fillColor: { colors: [{ opacity: 0 }, { opacity: 0.2 }]}
          }
        },{
          data: flotSampleData4,
          color: '#560bd0',
          lines: {
            fillColor: { colors: [{ opacity: 0 }, { opacity: 0.2 }]}
          }
        }], {
    			series: {
    				shadowSize: 0,
            lines: {
              show: true,
              lineWidth: 2,
              fill: true
            }
    			},
          grid: {
            borderWidth: 0,
            labelMargin: 8
          },
    			yaxis: {
            show: true,
    				min: 0,
    				max: 100,
            ticks: [[0,''],[20,'20K'],[40,'40K'],[60,'60K'],[80,'80K']],
            tickColor: '#eee'
    			},
    			xaxis: {
            show: true,
            color: '#fff',
            ticks: [[25,'OCT 21'],[75,'OCT 22'],[100,'OCT 23'],[125,'OCT 24']],
          }
        });

        $.plot('#flotChart1', [{
          data: dashData2,
          color: '#00cccc'
        }], {
    			series: {
    				shadowSize: 0,
            lines: {
              show: true,
              lineWidth: 2,
              fill: true,
              fillColor: { colors: [ { opacity: 0.2 }, { opacity: 0.2 } ] }
            }
    			},
          grid: {
            borderWidth: 0,
            labelMargin: 0
          },
    			yaxis: {
            show: false,
            min: 0,
            max: 35
          },
    			xaxis: {
            show: false,
            max: 50
          }
    		});

        $.plot('#flotChart2', [{
          data: dashData2,
          color: '#007bff'
        }], {
    			series: {
    				shadowSize: 0,
            bars: {
              show: true,
              lineWidth: 0,
              fill: 1,
              barWidth: .5
            }
    			},
          grid: {
            borderWidth: 0,
            labelMargin: 0
          },
    			yaxis: {
            show: false,
            min: 0,
            max: 35
          },
    			xaxis: {
            show: false,
            max: 20
          }
    		});


        //-------------------------------------------------------------//


        // Line chart
        $('.peity-line').peity('line');

        // Bar charts
        $('.peity-bar').peity('bar');

        // Bar charts
        $('.peity-donut').peity('donut');

        var ctx5 = document.getElementById('chartBar5').getContext('2d');
        new Chart(ctx5, {
          type: 'bar',
          data: {
            labels: [0,1,2,3,4,5,6,7],
            datasets: [{
              data: [2, 4, 10, 20, 45, 40, 35, 18],
              backgroundColor: '#560bd0'
            }, {
              data: [3, 6, 15, 35, 50, 45, 35, 25],
              backgroundColor: '#cad0e8'
            }]
          },
          options: {
            maintainAspectRatio: false,
            tooltips: {
              enabled: false
            },
            legend: {
              display: false,
                labels: {
                  display: false
                }
            },
            scales: {
              yAxes: [{
                display: false,
                ticks: {
                  beginAtZero:true,
                  fontSize: 11,
                  max: 80
                }
              }],
              xAxes: [{
                barPercentage: 0.6,
                gridLines: {
                  color: 'rgba(0,0,0,0.08)'
                },
                ticks: {
                  beginAtZero:true,
                  fontSize: 11,
                  display: false
                }
              }]
            }
          }
        });

        // Donut Chart
        var datapie = {
          labels: ['Search', 'Email', 'Referral', 'Social', 'Other'],
          datasets: [{
            data: [25,20,30,15,10],
            backgroundColor: ['#6f42c1', '#007bff','#17a2b8','#00cccc','#adb2bd']
          }]
        };

        var optionpie = {
          maintainAspectRatio: false,
          responsive: true,
          legend: {
            display: false,
          },
          animation: {
            animateScale: true,
            animateRotate: true
          }
        };

        // For a doughnut chart
        var ctxpie= document.getElementById('chartDonut');
        var myPieChart6 = new Chart(ctxpie, {
          type: 'doughnut',
          data: datapie,
          options: optionpie
        });

      });
    </script>

{% endblock javascripts %}
